body {
  background: url("../img/bg.jpg") ;
  background-size: 100%;
}

/* header——start */
header {
  width: 100%;
  margin-top: 20px;
}
header, .header-right , .header-logo{
  height: 50px;
  line-height: 50px;
}
.header-right {
  margin-top: 20px;
}

.header-user {
  float: left;
}
.header-user p,.header-user span {
  line-height: 70px;
  margin-left: 10px;
  display: inline;
}
.header-user p {
  color: whitesmoke;
}
.header-user span {
  color: white;
}

.header-logo {
  border-radius: 50%;
  margin-left: 50px;
}
.header-right {
  width: 45%;
  text-align: center;
  font-size: 13px;
  float: right;
}
.header-right .el-col {
  border-radius: 0;
}
.header-right a{
  text-decoration: none;
  color: white;
}
.header-right .el-col:hover{
  border-bottom: 2px solid RGB(243, 243, 250, 0.5);
}
/* header——end */

/* main——start */
.main-center {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 28%; 
  bottom: 0;
  padding: 50px;
  text-align: center;
  color: white;
}
.main-center p{
  font-size: 55px;
}
.main-center h6{
  font-size: 20px;
}
.main-center button{
  margin: 26px;
}
.main-center p, h6, button {
  margin: 20px;
}
/* main——end */
